.search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    padding: 5px;
    font-size: 1em;
  }
  
  .search-bar button {
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 1em;
    cursor: pointer;
  }
  